.header-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100px;
}

header {
    position: fixed;
    height: 100px;
    width: 100vw;
    max-width: 100vw;
    background-color: #ABD9FF;
    color: black;

    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

header nav a {
    padding: 8px 24px;
    transition: all ease-in-out 0.1s;
}

.active {
    background-color: #97d0ff;
}

.header-nav-item:hover {
    scale: 1.05;
}

.header-dropdown {
    position: relative;
    display: inline-block;
    background-color: #65baff;
    padding: 12px 32px;
    border-radius: 8px;
}

.notification-badge {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-dropdown-content {
    translate: -32px;
    display: none;
    position: absolute;
    background-color: #65baff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px 0px;
    width: 100%;
    z-index: 1;
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

.header-dropdown-item {
    display: block;
    padding: 8px 16px;
    width: 100%;
    transition: ease-in-out 100ms all;
}

.header-dropdown-item:hover {
    background-color: #84c8ff;
    text-decoration: none;
}

.notification {
    background-color: #ff675c;
}

.notification:hover {
    background-color: #ff8c84;
}
