.infochanges {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 64px;
}

/* Filters */

.infochange-filters {
    width: 200px;
    border: solid black 1px;
}

.infochange-filters h2 {
    font-size: 2.8rem;
    text-align: center;
    padding: 8px 0;
}

.infochange-filter {
    padding: 6px 16px;
    border-top: solid black 1px;
}


/* Duration Filter */

.infochange-filter-duration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px 32px;
}

.infochange-filter-duration > p {
    grid-column-start: 1;
    grid-column-end: 3;
}

.infochange-filter-duration input {
    max-width: 40%;
}



/* List */

.infochange-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.infochange-item {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #eefdff;
}

/* Mobile Styling */
@media only screen and (max-width: 767px) {
    .infochanges {
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px) {
    .infochange-list {
        grid-template-columns: 1fr;
    }
}