.infochangepage {
    display: flex;
    flex-direction: column;
}

.infochangepage form {
    display: flex;
    flex-direction: column;
}

.infochange-formsbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infochangepage form input {
    font-size: 1.8rem;
    height: 32px;
    margin-bottom: 16px;
}

/* Mobile styling */
@media only screen and (max-width: 500px) {
    .infochange-formsbox {
        flex-direction: column;
    }
}