/* overall css */

p {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0 0 10px;
}

button:hover {
    cursor: pointer;
}   

.skill-page>div {
    margin-bottom: 32px;
    position: relative;
}

/* singleskill info */

.singleskill-date {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
}

.singleskill-cat {
    font-weight: bold;
    text-transform: uppercase;
}

.singleskill-desc {
    font-style: italic;
}

#complete {
    height: 20px;
    width: 20px;
}

/* Uploads */

.upload-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: max(calc(2vw + 4px), 64px);
}

.updown-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    gap: 8px;
}

.upload-form input[type='submit'], .updown-box button {
    font-size: 1.6rem;
    background-color: #65baff;
    padding: 8px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Comments Sections */

.comments-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: max(calc(2vw + 4px), 64px);
}

.comments-item {
    width: 100%;
}

/* Comments Boxes */

.comments-box {
    height: 400px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid black;
}

.comments-box-small {
    height: 300px;
}

.single-comment-item {
    background-color: #f5f5f5;    
    margin: 4px;
    padding: 10px;
    word-wrap: break-word;
}

.comment-date {
    font-size: 1rem;
}

.single-comment-box {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.comment-text {
    width: 100%;
}

.single-comment-item button {
    height: 20px;
    background-color: red;
    color: white;
    padding: 0px 12px;
    border-radius: 10px;
}

/* Comment Input Form */

#commentform {
    margin-top: 0px;
}

#commentform textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: 1px solid black;
    padding: 4px;
}

#commentAddButton {
    position: relative;
    bottom: 6px;
    left: 2px;
    font-weight: 600;
    background-color: gray;
    color: white;
    padding: 4px 16px;
    margin-top: 8px;
    border-radius: 10px;
}

/* Mobile styling */
@media only screen and (max-width: 767px) {
    .comments-container {
        flex-direction: column;
        gap: 32px;
    }

    .upload-container {
        flex-direction: column;
        gap: 24px;
    }
}