@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #C3F8FF;
    font-size: 1.6rem;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 4.2rem;
    font-weight: 600;
    margin: 32px 0 16px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: calc(80vw + 200px);
}

.emptylist {
    font-size: 2rem;
    font-weight: 700;
    color: red;
    width: 100%;
    padding: 30px;
    text-align: center;
    font-style: italic;
}


/* Mobile styling */
@media only screen and (max-width: 767px) {
    .container {
        padding: 0 12px;
    }
}
